/* Body Design*/
body {
  color: #231aa5;
}
/* Add stles to the header*/
header {
  background-image: url(../images/student.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

header h1 {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  color: yellow;
  margin: 0;
  text-shadow: #130c3a;
}

header a {
  text-decoration: none;
  color: bisque;
}

header nav {
  top: 0;
  margin: 5px;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  text-shadow: 10px #41c21a;
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.5vw;
}

/* Header Hover */
header nav ul li a:hover {
  background: #145748;
  color: #db7f16;
  border-radius: 15px;
  text-shadow: none;
}

/* Add styles to the footer */
footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #806f11;
  width: 100%;
  padding: 20px;
  line-height: 1.5;
  text-align: right;
}

/* Section Style */
section {
  padding: 20px;
}

/* About Me Style */
#about-me {
  align-items: flex-start;
  background-image: url(../images/student.jpg);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-size: cover;
  background-position: center;
  position: relative;
}

.my-intro {
  width: 75%;
  line-height: 1.2;
}

.my-intro h2 {
  text-align: center;
  text-shadow: 1 1 15px #db7f16;
  font-size: 30px;
  text-decoration: underline;
}

/* Work Experience Style */
#work-experience {
  align-items: center;
  background-color: antiquewhite;
  color: #145748;
  padding: 30px;
}

#work-experience h2 {
  font-size: 30px;
  text-align: center;
  text-decoration: underline;
  margin: 20px;
}

.experience-description {
  line-height: 1.7;
  color: #231aa5;
  width: 80%;
  font-size: 18px;
  margin: 0 auto;
}

.experience-description h3 {
  font-size: 22px;
}

.responsibilities {
  border-bottom: 2px solid #39a6b2;
  margin-bottom: 50px;
}
.responsibilities h4 {
  font-size: 18px;
  text-decoration: underline;
}

.responsibilities ul li {
  list-style: square;
}

.responsibilities ul:last-child {
  padding-bottom: 20px;
}

/* Portfolio Style */

.my-portfolio {
  background-color: antiquewhite;
}

.my-portfolio h2 {
  color: #130c3a;
  font-size: 30px;
  text-align: center;
  text-decoration: underline;
}

.projects {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  border-bottom: 1px solid #39a6b2;
  padding-bottom: 20px;
  margin: 20px auto;
}

.project h3 {
  color: #231aa5;
  font-size: 22px;
  text-decoration: underline;
  padding-bottom: 20px;
}

.project-img {
  margin-right: 20px;
}

.project-img img {
  max-width: 100%;
}

/* Reach out section decoration*/

.contact {
  background: #024e76;
}

.contact h2 {
  font-size: 30px;
  color: yellow;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-info div {
  color: white;
}

.contact-info h3 {
  color: yellow;
  font-size: 22px;
}

.contact-info p,
.contact-info address {
  margin: 20px 0;
  line-height: 1.5;
  font-size: 14px;
  font-style: normal;
}

.contact-info a {
  color: yellow;
}

.contact-form input,
.contact-form textarea {
  background-color: white;
  border: 2px solid blue;
  display: block;
  padding: 20px;
  font-size: 15px;
  border-radius: 5px;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  header {
    position: relative;
    padding-bottom: 0;
    justify-content: center;
  }
  header h1 {
    width: 100%;
    text-align: center;
  }
  header nav ul {
    display: flex;
    list-style-type: none;
    width: 400px;

    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }
  header nav ul li a {
    font-size: 20px;
    display: block;
    padding: 8px 16px;
    text-decoration: none;
  }
  footer {
    position: relative;
    padding-bottom: 0;
    justify-content: center;
  }
  footer h2,
  footer div {
    text-align: center;
    width: 100%;
    font-size: 20px;
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  section {
    padding: 30px 15px;
  }
  .my-intro {
    text-align: center;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  .my-intro p {
    font-size: 18px;
  }
}
