/* Body Design*/
body {
  font-size: 18px;
  font-family: "Ubuntu";
}
/* Add stles to the header*/
header {
  background-color: lightcyan;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 75%;
  display: block;
  font-family: "Ubuntu";
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 20px;
}

header h1 {
  text-align: center;
  font-weight: bold;
  font-size: 80px;
  margin: 0;
  text-shadow: #ffffff;
  padding-bottom: 30px;
}

header a {
  text-decoration: none;
}

header nav {
  top: 0;
  margin: 5px;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: bold;
  font-size: 3vw;
}

/* Header Hover */
a:hover {
  background: rgb(255, 255, 255);
  border-radius: 5px;
  text-shadow: none;
}

/* Add styles to the footer */
footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: yellow;
  width: 100%;
  padding: 20px;
  line-height: 1.5;
  text-align: right;
}

/* Section Style */
section {
  padding: 20px;
}

/* About Me Style */
#about-me {
  align-items: flex-start;
  /* background-image: url(../images/background.jpg); */
  display: flex;
  justify-content: center;
  font-family: "Ubuntu";
  flex-wrap: wrap;
  color: green;
  text-shadow: #ffffff;
  background-size: cover;
  background-position: center;
  position: relative;
  background-color: antiquewhite;
  font-size: 2.2vw;
}

#about-me img {
  width: 100%;
  height: auto;
}

.my-intro {
  width: 75%;
  line-height: 1.2;
  margin-bottom: 30px;
}

.my-intro h2 {
  text-align: center;
  text-shadow: 1 1 15px #66919e;
  font-size: 30px;
  text-decoration: underline;
}

/* Work Experience Style */
#work-experience {
  align-items: center;
  background-color: antiquewhite;

  padding: 30px;
}

#work-experience h2 {
  font-size: 30px;
  text-align: center;
  color: green;
  text-decoration: underline;
  margin: 20px;
}

.experience-description {
  line-height: 1.7;

  width: 80%;
  font-size: 18px;
  margin: 0 auto;
}

.experience-description h3 {
  font-size: 22px;
}

.responsibilities {
  border-bottom: 2px solid #39a6b2;
  margin-bottom: 20px;
}
.responsibilities h4 {
  font-size: 18px;
  text-decoration: underline;
}

.responsibilities ul li {
  list-style: square;
}

.responsibilities ul:last-child {
  padding-bottom: 20px;
}

/* Portfolio Style */

.my-portfolio {
  background-color: antiquewhite;
}

.my-portfolio h2 {
  color: green;
  font-size: 30px;
  text-align: center;
  text-decoration: underline;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.project {
  padding-bottom: 20px;
  margin: 20px auto;
}

.project h3 {
  font-size: 22px;
  text-decoration: underline;
  padding-bottom: 20px;
}

.project-img {
  margin-right: 20px;
}

.project-img img {
  max-width: 100%;
  width: 400px;
  height: 300px;
  margin: 30px;
  padding: 0;
}

.projects:last-child {
  border-bottom: 2px solid #39a6b2;
}

.project-img img:hover {
  transform: scale(1.2);
}

/* Reach out section decoration*/

.contact {
  margin-top: 10px;
  background: #024e76;
  border-radius: 20px;
}

.contact h2 {
  font-size: 30px;
  color: whitesmoke;
  text-decoration: underline;
  padding-bottom: 20px;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-info div {
  color: white;
}

.contact-info h3 {
  color: yellow;
  font-size: 22px;
}

.contact-info p,
.contact-info address {
  margin: 10px 0;
  line-height: 1.5;
  font-size: 14px;
  font-style: normal;
}

.contact-info a {
  color: yellow;
}

.contact-form input,
.contact-form textarea {
  background-color: white;
  border: 2px solid blue;
  display: block;
  padding: 20px;
  font-size: 15px;
  border-radius: 5px;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  body {
    font-size: 20px;
  }
  .contact-info {
    display: block;
  }

  header {
    position: relative;
    padding-bottom: 0;
    justify-content: center;
  }
  header h1 {
    width: 100%;
    text-align: center;
  }
  header nav ul {
    display: block;
    list-style-type: circle;
    margin-top: 30px;
    width: 100%;
  }
  header nav ul li {
    padding: 20px;
    display: block;
    justify-content: left;
  }
  header nav ul li a {
    font-size: 20px;
    padding: 8px 16px;
    text-decoration: none;
  }
  footer {
    position: relative;
    padding-bottom: 0;
    justify-content: center;
  }
  footer h2,
  footer div {
    text-align: center;
    width: 100%;
    font-size: 20px;
  }
  .projects {
    display: block;
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  section {
    padding: 30px 15px;
  }
  .my-intro {
    text-align: center;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  .my-intro p {
    font-size: 25px;
  }
}
